:root {
     /*colours */
     --color-text: #ffffff;
     --color-primary: #ebc7a3;
     --color-secondary: #e8b962;
     --color-dark: #0b2447;
     --color-bg: #000000;

      /*fonts */
      --font-roboto: "Roboto";
      

}
   
